<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="VesuviusUserVB" connectionString="data source=DMITRY;Database=MoneyFy; User=User; Password=User; Connection Timeout=1" providerName="System.Data.SqlClient" />
	<add name="DatabaseUser" connectionString="data source=DMITRY;Database=MoneyFy; User=User; Password=User;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	<add name="DatabaseAdmin" connectionString="data source=DMITRY;Database=MoneyFy; User=Admin; Password=Admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>